.navbar-bg{
    background-color: #DADFEA;
    color: black;
}

.button-new-nav {
  background-color: white;
  color: black;
  padding: 3px 16px;
  text-align: center;
  border: none;
  font-weight: 600;
  border-radius: 30px;
}

.home-icon{
    height: 24px;
    width: 24px;
    margin-left: 20px;
}