/* animation img section */

.c-animation {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 600px;
  width: 100%;
}

.c-ring {
  position: absolute;
  width: 420px;
  height: 420px;
  top: 10px;
  margin-left: 5px;
  border-radius: 50%;
  animation: ring 3s linear infinite;
}

@keyframes c-ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 3px 1px white;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 3px 1px white;
  }
}
