#animation-cube {
  margin-left: 3%;
  position: absolute;
  box-sizing: border-box;
  margin-top: -2%;
}

.cube {
  width: 200px;
  height: 240px;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cube::after {
  content: "";
  background-image: conic-gradient(#ffcc33 120deg, transparent 120deg);
  width: 240%;
  height: 240%;
  position: absolute;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
